.root{
    -fx-background-image: url("/ui/images/blue.png");
    -fx-background-size: stretch;
}

.tool-bar, .tab, .tab-pane{
    -fx-background-image: url("/ui/images/blue.png");
    -fx-background-size: cover;
}

.text-field{
    -fx-text-fill: #C3BBC7;
    -fx-border-radius: 10;
    -fx-font-size: 15;
    -fx-background-color: transparent;
    -fx-border-color: #5E5165;
    -fx-text-box-border: transparent;
    -fx-border-left-property: none;
    -fx-border-bottom: 1px, solid, #5E5165;
    -fx-border-top: 1px, solid, #5E5165;
}

.button{
    -fx-background-color: rgba(255,255,255,0.01);
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-spacing: 5px;
    -fx-border-radius: 6px;
    -fx-border-width: 2px;
    -fx-border-color: #fff;
    -fx-padding: 5px 5px 5px 5px;
    -fx-font-size: 15px;
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

#Biider{
    -fx-text-fill: #C3BBC7;
    -fx-font-size: 20px;
}

#btnUiClose, #btnMinim, #btnMaxim{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#gridpane{
    -fx-background-repeat: no-repeat;
}

#btnSupprimer:hover{
    -fx-opacity: 0.5;
}

#btnSupprimer{
    -fx-opacity: 0.5;
}

#btnAjouter,#btnRechercher,#btnSupprimer,#btnModifier{
    -fx-background-image: url("/ui/images/button.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-repeat: round;

}

#vbox{
    -fx-background-color: rgba(0,0,0,0.1);
}