.root{
    -fx-background-color: #455A64;
}

.tool-bar{
    -fx-background-color: transparent;
}

.text-field{
    -fx-text-fill: #455A64;
    -fx-font-size: 20;
    -fx-background-color: white;
    -fx-border-color: #5E5165;
    -fx-text-box-border: transparent;
}

#btnLogin{
    -fx-background-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-text-fill: #455A64;
}

#btnLogin:hover{
    -fx-background-color: #009688;
}

.button{
    -fx-spacing: 10px;
    -fx-border-radius: 6px;
    -fx-border-width: 1px;
    -fx-text-fill: #fff;
    -fx-padding: 5px 5px 5px 5px;
    -fx-font-size: 15px;
}
.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

#Biider{
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

#btnClose{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}