.root {
    -fx-background-color: #455A64;
    -fx-background-size: stretch;
}

.table-view, .table-column{
    -fx-background-color: #455A64;
    -fx-text-fill: white;
    -fx-opacity: 0.7;
    }

.text-field{
    -fx-text-fill: #455A64;
    -fx-font-size: 15;
    -fx-background-color: white;
    -fx-border-color: #ffffff;
    -fx-opacity: 0.9;
}

.button{
    -fx-background-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-text-fill: #455A64;
    -fx-spacing: 5px;
    -fx-border-radius: 6px;
    -fx-border-width: 2px;
    -fx-border-color: #fff;
    -fx-padding: 5px 5px 5px 5px;
    -fx-font-size: 15px;
}

.label{
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

#Biider{
    -fx-text-fill: #C3BBC7;
    -fx-font-size: 20px;
}

#btnClose, #btnMinim, #btnMaxim{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#anchorpane{
    -fx-background-repeat: no-repeat;
}

#btnRechercher:hover{
    -fx-opacity: 0.5;
}

#btnRechercher{
    -fx-opacity: 0.5;
}

#btnAjouter,#btnRechercher,#btnSupprimer,#btnModifier{
    -fx-text-fill: white;
    -fx-background-color: rgba(255,255,255,0.01);
    -fx-background-image: url("/ui/images/button.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-repeat: round;
}

.check-box{
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

#vbox, .tool-bar{
    -fx-background-color: rgba(0,0,0,0.1);
}